{{/* this is a docker-gen template. See docker-gen for more details */}}
filebeat:
  prospectors:
  {{ range $key, $value := . }}
    -
      paths:
        - /var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
      document_type: docker
      ignore_older: 30m
      scan_frequency: 5s
      json.keys_under_root: true
      json.message_key: log
      fields_under_root: true
      fields:
        logzio_codec: json
        logzio_token: {{ $.Env.LOGZIO_TOKEN }}
        docker/id: {{ $value.ID }}
        docker/image: {{ if $value.Image.Registry }}{{ $value.Image.Registry }}/{{ end }}{{ $value.Image.Repository }}{{ if $value.Image.Tag }}:{{ $value.Image.Tag }}{{ else }}:latest{{ end }}
        docker/name: {{ $value.Name }}
        docker/hostname: {{ $value.Hostname }}
        {{ range $k, $v := $value.Labels }}
        docker/label/{{ $k }}: {{ $v }}
        {{ end }}
  {{ end }}

output.logstash:
  hosts: [ "{{ .Env.LOGSTASH_HOST }}" ]

  {{ if .Env.CERT }}
  ssl:
    certificate_authorities: ["{{ $.Env.CERT }}"]
  {{ end }} 

logging:
  level: info
